@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --font-roboto: 'Roboto', sans-serif;
  }
}

body {
  color: rgb(var(--foreground-end-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--foreground-end-rgb)))
    rgb(var(--foreground-rgb));
}

.hash-span {
  padding-bottom: 0px;
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-table {
  @apply border-t-large border-l-medium border-dashed border-gray-300;
}

.grid-table:nth-child(4n + 1) {
  @apply border-l-0;
}

.grid-table:nth-child(-n + 4) {
  @apply border-t-0;
}

/* max-lg için */
@screen lg {
  .grid-item:nth-child(3n + 1) {
    @apply border-l-0;
  }

  .grid-item:nth-child(-n + 3) {
    @apply border-t-0;
  }
}

/* max-md için */
@screen md {
  .grid-item:nth-child(2n + 1) {
    @apply border-l-0;
  }

  .grid-item:nth-child(-n + 2) {
    @apply border-t-0;
  }
}

/* max-sm için */
@screen sm {
  .grid-item:nth-child(1) {
    @apply border-l-0;
  }

  .grid-item {
    @apply border-t-0;
  }
}
