g[id='turkiye'] > g[data-is-dealer-city='false'] > path {
  fill: gainsboro !important;
}

g[id='turkiye'] > g[data-is-dealer-city='false'] > path:hover {
  fill: lightslategrey !important;
}

g[id='turkiye'] > g[data-is-dealer-city='true'] > path {
  fill: #6067fa !important;
}

g[id='turkiye'] > g[data-is-dealer-city='true'] > path:hover {
  fill: #60a5fa !important;
}
