g[id="turkiye"] > g[data-is-dealer-city="false"] > path {
  fill: gray !important;
}

g[id="turkiye"] > g[data-is-dealer-city="false"] > path:hover {
  fill: darkgray !important;
}

g[id="turkiye"] > g[data-is-dealer-city="true"] > path {
  fill: #6067FA !important;
}

g[id="turkiye"] > g[data-is-dealer-city="true"] > path:hover {
  fill: #60A5FA !important;
}